:root {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.typography {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  ol,
  ul {
    padding-left: 1rem;
    list-style-type: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ol,
  ul {
    margin: 1.2em 0 0;
  }

  & > :first-child {
    margin-top: 0;
  }

  h1 + h2,
  h2 + h3,
  h3 + h4,
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p {
    margin-top: 0.4em;
  }
}
